* {
  font-family: "Inter", sans-serif;
}

// buat nav
.nav {
  background-color: #0d6efd;
}

.collapse {
  margin-right: 20px;

  .serch {
    margin-right: 30px;
  }
}

.nav-item {
  margin-right: 30px;
  color: white;
  font-family: var(Inter);
  font-size: 15px;
}

// end nav

// card
.feature-card {
  margin-top: -150px;
  border: none;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

// visi misi
.display {
  background-color: #8BA0F8;

}

.flex-item {
  background-color: #6580F5;
}

.item-flex {
  display: flex;
  justify-content: end;
}

// lembaga
.profile-container {
  margin-top: 70px;

  .grid {
    margin-bottom: 4px;
  }
}


// layanan

// pendidikan
.pendidikan {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  background-color: #B2BFFA;
  margin-left: 48px;
  margin-right: 48px;

  .h1 {
    font-size: 30px;
    color: white
  }
}

.alamat {
  margin-top: 53px;
}

// berita
.benefit {
  justify-content: center;
}

.varian {
  .row {
    gap: 20px;

    .row1 {
      gap: 20px;
      // justify-content: first baseline;
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}

// info
.info {
  background-color: #B2BFFA;
}

.item {
  margin-left: 35px;
}

.span {
  color: white;
}

.span-container {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  width: 355px;
  margin-top: 42px;
}

.container-span {
  font-size: 20px;
  margin-top: 23px;
}

.flex-col {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

// footer
.colom1{
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  margin-left: 20px;
}
.colom2{
  margin-left: -100px;
  margin-right: -550px;
  gap:100px;
  margin-top: 10px;
}